@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@200;400;500&family=Rubik:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #ece9e6;
  background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
  background: linear-gradient(to right, #ffffff, #ece9e6);

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
}
img {
  max-width: 100%;
}

.mobile-container {
  background-color: #fff;
  width: 350px;
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 3px;
  overflow: hidden;
  /* margin: 100px 0; */
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

header input {
  background-color: #eee;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-family: inherit;
}

header button {
  background-color: transparent;
  border: none;
  color: #aaa;
  font-size: 1.5rem;
  margin-left: 10px;
}

.fav-container {
  background-color: rgb(223, 196, 241);
  padding: 0.5rem 0.5rem;
  text-align: center;
}

.fav-meals {
  display: flex;
  width: 800px;
  /* overflow: hidden; */
  list-style: none;
  padding: 0;
}

.fav-meals li {
  width: 85px;
}

.fav-meals li img {
  border: 2px solid#ffffff;
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 50%;
  object-fit: cover;
  width: 70px;
  height: 70px;
}

.fav-meals li span {
  font-size: 1rem;
}

.meal {
  border-radius: 3px;
  box-shadow: 0 0 10px 2px #3333331a;
  margin: 1rem;
  overflow: hidden;
}

.meal-header {
  position: relative;
}

.meal-header .random {
  position: absolute;
  top: 1rem;
  background-color: #fff;
  padding: 0.5rem 0.5rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.meal-header img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.meal-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.meal-body h4 {
  margin: 0;
}

.meal-body .fav-btn {
  background-color: transparent;
  border: none;
  font-size: 1.2em;
  color: rgb(177, 170, 170);
  cursor: pointer;
}

.meal-body .fav-btn.active {
  color: rebeccapurple;
}
